.post-meta {
  margin-bottom: 20px;
  color: $lightgrey;
}
.post-text {
  margin: 4% 0;
}
.post-small-img {
  img {
    width: 100%;
    height: auto;
    // object-fit: contain;
  }
}
.post-img {
  width: 100%;
  // height: auto;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.post {
  p {
    font-size: 0.9rem;
  }
  .title {
    padding-top: 4%;
    @media (min-width: 768px) {
      padding-top: 0;
    }
  }
}
